doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title WebSocket
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header  
            h1 WebSocket
        main
            form#nick
                input(type="text", placeholder="아이디를 입력하세요", required)
                button 저장
            ul
            form#msg
                input(type="text", placeholder="메세지를 작성하세요", required)
                button 전송
            h2 Welcome to WebSocket
        script(src="/public/js/app.js") 